<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="gist github">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" content="images/logo_black.png" />
    <title>The Best Open Web Interface for the GIST</title>
    <link rel="shortcut icon" href="images/logo_black.png"/> 
    <link rel="image_src" href="images/logo_black.png"/>   
    <% if (devMode === 'development') { %>
      <link rel="stylesheet" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
      <link rel='stylesheet' href="vendor/font-awesome/css/font-awesome.min.css">
      <link rel='stylesheet' href='styles/welcome.min.css?modified_time=<%= (new Date()).getTime() %>' />
    <% }else{ %> 
      <link rel='stylesheet' href='styles/welcome-thirdparty.min.css?v=<%= appVersion %>' />
      <link rel='stylesheet' href='styles/welcome.min.css?v=<%= appVersion %>' />
    <% } %>
    <script src="vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
    <a href="http://opensource.nodejitsu.com/">
      <img
        style="position: absolute; top: 0; right: 0; border: 0"
        src="//www.nodejitsu.com/img/media/foss-r-blue.png"
        alt="Apply for the Nodejitsu free for Open Source program">
    </a>
    <div class="contents">
      <section class="sec-main">
          <center>
            <img class="img-logo" src="images/logo.png" />
            <p class="main-font">
              GISTCAMP is a campground for GEEKS
            </p>
            <p class="main-font2">
              Create,  Share and Enjoy GIST!
            </p>
            <a href="/auth/github" class="sign-in">
                Sign in with GitHub
            </a>
            <p class="main-font4">
              <a class="font4" href="#sec-demo">
               or learn more about GISTCAMP.
             </a>
            </p>
            <div class="main-alert"><h1>Warning</h1>The GISTCAMP is in the testing stages at the moment. <br/>You could run into errors and downtime. <br/>We are going to release official version at the end of Septemper 2013.</div> 
            <!--[if lt IE 10]> <p class="main-ie"> Please use Chrome or Safari, we are working on IE </p> <![endif]-->
         </center>
      </section>
      <section class="sec-features" id="sec-features">
            <div class="container">
              <div class="row"></div> 
              <div class="row text-left">  
                <div class="span6">
                   <p class="font-title font-features">
                    Features
                    </p>
                </div>  
                <div class="span5">
                   <hr class="hr-features">
                </div> 
              </div> 
              <div class="row common-icon-box-row-blank"></div> 
              <div class="row">
                <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-user icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Friends</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Find your friend's gists</div>
                </div>
               <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-tag icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Tagging</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Create your own tags and organize the gists</div>
                </div>
              </div>
              <div class="row common-icon-box-row-blank"></div> 
              <div class="row">
                <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-bell-alt icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Notification</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>GISTCAMP lets you know instantly once you receive comments or chatting messages</div>
                </div>
               <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-group icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Chatting</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Discuss with other geeks about the gists</div>
                </div>
              </div>
              <div class="row common-icon-box-row-blank"></div> 
              <div class="row">
                <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-share-alt icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Share</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Share the gists via Facebook, Twitter, Google+ and LinkedIn</div>
                </div>
               <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-github icon-5x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Open Source</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>GISTCAMP is open-sourced. Fork us, please.</div>
                </div>
              </div>
         </div>
      </section>
      <section class="sec-sec3">
        <div class="container">  
          <a href="https://github.com/RayKwon/gistcamp"><img style="position: absolute; top: 1200; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
          <div class="row"  >
            <div class="span2">
            <img class="img-point" src="images/logo.png" />
            </div>
            <div class="span8 font-point">
              GISTCAMP
            <div>
          </div>
        </div>
      </section>
      <section id="sec-demo">
         <div class="container"> 
          <div class="row text-left">  
            <div class="span3">
               <p class="font-title font-features">
                Demo
                </p>
            </div>  
            <div class="span8">
               <hr class="hr-demo">
            </div> 
          </div> 
          <div class="row text-center"> 
              <iframe id="demo-player"  width="850" height="600" frameborder="0" src="http://www.youtube.com/embed/OUMCoE1q_mE?modestbranding=1&autoplay=0" type="text/html"></iframe> 
          </div>
        </div>
      </section>
      <section class="sec-contact" id="sec-contact">
       <div class="container"> 
        <div class="row text-left">  
          <div class="span3">
             <p class="font-title font-connect-title">
              Connect
              </p>
          </div>  
          <div class="span8">
             <hr class="hr-contact">
          </div> 
        </div> 
        <div class="row">
          <div class="span3" >
             <span class="icon-stack span-twitter font-icon-connect text-center">
              <i class="icon-circle icon-stack-base  font-twitter-circle "></i>
              <i class="icon-twitter font-connect"></i>
              <br>
              <h2>Twitter</h2>  
             </span>
          </div>
         <div class="span3" >
             <span class="icon-stack  span-facebook font-icon-connect text-center">
              <i class="icon-circle icon-stack-base  font-facebook-circle"></i>
              <i class="icon-facebook font-connect"></i>
              <br>
              <h2 class="font-facebook">Facebook</h2>  
             </span>
          </div>
           <div class="span3" >
             <span class="icon-stack  span-google font-icon-connect text-center">
              <i class="icon-circle icon-stack-base  font-google-circle"></i>
              <i class="icon-google-plus font-connect"></i>
              <br>
              <h2 class="font-google">Google+</h2>  
             </span>
          </div>
       <div class="span3" >
         <span class="icon-stack  span-linkedin font-icon-connect text-center">
          <i class="icon-circle icon-stack-base  font-linkedin-circle"></i>
          <i class="icon-linkedin font-connect"></i>
          <br>
          <h2 class="font-linkedin">LinkedIn</h2>  
         </span>
        </div>
        </div>
      </div>
      </section>
    <section class="sec-bottom">
      <div class="sec-bottom-sub row">
        <span class="site-map span3"><a href="#">Home</a></span>
        <span class="site-map span3"><a href="#sec-features">Features</a></span>
        <span class="site-map span3"><a href="#sec-demo">Demo</a></span>
        <span class="site-map span3"><a href="#sec-contact">Connect</a></span>
        <span class="site-map span3"><a href="#">Terms &amp; Service</a></span>
        <span class="site-map span3"><a href="https://github.com/RayKwon/gistcamp">GitHub Repository</a></span>
      </div>
      <div class="sec-bottom-sub row ">
        <div class="poweredby">
          <a href="https://twitter.com/gistcamp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @gistcamp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="//www.nodejitsu.com" class="jitsu-link"><span class="">Powered by Nodejitsu</span><img src="//www.nodejitsu.com/img/media/nodejitsu-transparent.png" class="jitsu-icon" /></a>
        </div>
      </div>
    </section>
   <section class="sec-copyright">
      <div class="text-center copyright">
      </div>
    </section>
  </div>

  <% if (devMode === 'development') { %>
      <script src="vendor/jquery/jquery.min.js"></script> 
      <script src="vendor/jquery.scrollTo/jquery.scrollTo.min.js"></script>
      <script src="vendor/jquery-nicescroll/jquery.nicescroll.min.js"></script>
        
      <script src="js/welcome.js?modified_time=<%= (new Date()).getTime() %>"></script>
      <script src="http://localhost:35729/livereload.js"></script>
    <% }else{ %> 
      <script src="js/welcome.min.js?v=<%= appVersion %>"></script>
    <% } %>
  </body>
</html> 