<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="gist github">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/logo_black.png">
    <link rel="stylesheet" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
    <link rel='stylesheet' href="vendor/font-awesome/css/font-awesome.min.css">
    <% if (devMode === 'development') { %>
      <link rel='stylesheet' href='styles/welcome.min.css?modified_time=<%= (new Date()).getTime() %>' />
    <% }else{ %> 
      <link rel='stylesheet' href='styles/welcome.min.css?v=<%= appVersion %>' />
    <% } %>
    <script src="vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="contents">
      <div id="div-power"> 
          <div>
            <center>
              <img class="img-logo-center" src="images/logo.png" />
            <center> 
            <p class="power-font librar">
              The campground for the Geeks
            </p>
            <p class="power-font2">
              "Create,  Share <span style="font-size:35px;">and</span> Enjoy GIST!"
            </p>
            <a href="/auth/github" >
              <p class="sign-in">
                Sign in with GitHub
              </p> 
            </a>
            <p class="power-font4">
               or learn more about how to enjoy GISTCAMP
            </p>
            <p class="power-alert"> Note: The GistCamp is in the ALPHA TEST at the moment. <br/>We are going to release official version at the end of Septemper 2013.</p>
            <!--[if lt IE < 9]> <p> Please use Chrome or Safari, we are working on IE </p> <![endif]-->
          </div>
      </div>
      <div id="div-features">
        <div class="features1">
          <div id="features-friends" class="features-friends">
            <image class="features-image" src="images/friends.png"/>
            <div class="features-box">
                <p class="features-font">Friends</p>
                <span id="features-friends-contents" class="features-contents features-contents-hidden">Find your follower & following's gists</span>
            </div>
          </div>
          <div id="features-tagging" class="features-tagging"> 
            <image class="features-image" src="images/tagging.png"/>
            <div class="features-box">
                <p class="features-font">Tagging</p>
                <span id="features-tagging-contents" class="features-contents features-contents-hidden">Make your own tagging list and Organize the gists</span>
            </div>
          </div>
          <div id="features-alert" class="features-alert"> 
            <image src="images/alert.png" class="features-image"/>
            <div class="features-box">
                <p class="features-font">Notification</p>
                <span id="features-alert-contents" class="features-contents features-contents-hidden">The GistCamp lets you know instantly once you receive comments or chatting messages</span>
            </div>
          </div>
        </div><!-- end features1-->

        <div class="features2">
           <div id="features-chatting" class="features-friends"> 
            <image src="images/chatting.png" class="features-images2"/>
            <div class="features-box2">
                <p class="features-font2">Chatting</p>
                <span id="features-chatting-contents" class="features-contents features-contents-hidden">Discuss with other geeks about the gists</span>
            </div>
          </div>  
           <div id="features-share" class="features-tagging"> 
            <image src="images/share.png" class="features-images2"/>
            <div class="features-box2">
                <p class="features-font2">Share</p>
                <span id="features-share-contents" class="features-contents features-contents-hidden">Share the gists via Facebook, Twitter and Google+</span>
            </div>
          </div>

           <div id="features-opensource" class="features-alert"> 
            <image src="images/opensource.png" class="features-images2"/>
            <div class="features-box2">
                <p class="features-font2">Open Source</p>
                <span id="features-opensource-contents" class="features-contents features-contents-hidden">The GistCamp is open-sourced. Fork us, please.</span>
            </div>
          </div>
        </div> <!--end features2-->
      </div>

      <div id="div-video">
        <center>
          <iframe id="demo-player" style="margin-top:150px;" width="800" height="480" frameborder="0" src="http://www.youtube.com/embed/OUMCoE1q_mE?modestbranding=1&autoplay=0" type="text/html"></iframe>
        </center>
      </div>

      <div id="div-person">
        <p class="person-font">
          Let's Talk
        </p>
        <p class="person-font1">
          Contact us
        </p>
        <div class="person-text-background"> 
            <textarea class="person-message"  placeholder="Message here" rows="5"></textarea>
             <textarea class="person-email"  placeholder="e-mail" rows="1"></textarea> 
          <div class="controls controls-row">            
            <textarea class="span4 person-name"  placeholder="Your name" rows="1"></textarea> 
               <p class="span1 person-font2">
                Send Message
               </p> 
          </div>
        </div>
    </div>

    <div class="menu"> 
        <div class="menu-top"></div>  
        <div class="menu-main">
          <div class="menu-power">
            <img src="images/icon1.png" class="img-power"/>  
          </div>
          <div class="menu-features">
            <img src="images/icon2.png" class="img-features"/>
          </div>
          <div class="menu-video">
            <img src="images/icon3.png" class="img-video"/>
          </div>
          <div class="menu-person">
            <img src="images/icon4.png" class="img-person"/>
          </div>
        </div> 
        <div class="headers"> 
        <img src="images/logo.png" class="img-logo"/> 
        <p class="logo-font">GISTCAMP</p>
    </div>


  <% if (devMode === 'development') { %>
      <script src="vendor/jquery/jquery.min.js"></script> 
      <script src="vendor/jquery.scrollTo/jquery.scrollTo.min.js"></script>
      <script src="vendor/jquery-nicescroll/jquery.nicescroll.min.js"></script>
      <script src="js/welcome.js?modified_time=<%= (new Date()).getTime() %>"></script>
      <script src="http://localhost:35729/livereload.js"></script>
    <% }else{ %> 
      <script src="js/welcome.min.js?v=<%= appVersion %>"></script>
    <% } %>
  </body>
</html>