<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
    <link rel='stylesheet' href="vendor/font-awesome/css/font-awesome.min.css">
    <% if (devMode === 'development') { %>
      <link rel='stylesheet' href='styles/welcome.min.css?modified_time=<%= (new Date()).getTime() %>' />
    <% }else{ %> 
      <link rel='stylesheet' href='styles/welcome.min.css?v=<%= appVersion %>' />
    <% } %>
  </head>
  <body>

    <div class="contents">
      <div id="div-power"> 
         
          <div>
            <center>
              <img class="img-logo-center" src="images/logo.gif" />
            <center> 
            <p class="power-font librar">
              Camping Place For Developer with codey.
            </p>
            <p class="power-font2">
              "Enjoy Yourself"
            </p>
            <p class="power-font3">
              It is up to you.
            </p> 
            <a href="/auth/github" >
              <p class="sign-in">
                Sign in Github
              </p> 
            </a>
            <p class="power-font4">
              or learn more about how to enjoy GISTCAMP.
            </p>
          </div>
      </div>
      <div id="div-light">

      </div>
      <div id="div-bag">3</div>
      <div id="div-person">
      <div>

        <p class="person-font">
          Let's Talk
        </p>
        <p class="person-font1">
          Contact us
        </p> 
        <div class="person-text-background"> 
          
            <textarea class="person-message"  placeholder="Message here" rows="5"></textarea>
           
             <textarea class="person-email"  placeholder="e-mail" rows="1"></textarea> 
          <div class="controls controls-row">            
            <textarea class="span4 person-name"  placeholder="Your name" rows="1"></textarea> 
               <p class="span1 person-font2">
                Send Message
               </p> 
          </div>
        </div>

    </div>

    <div class="menu"> 
        <img src="images/power.gif" class="img-power"  />
 
 
        <img src="images/light.gif" class="img-light"/>
    
        <img src="images/bag.gif" class="img-bag"/>
   
        <img src="images/person.gif" class="img-person"/>
      
      <div class="menu-bottom">
    </div>
    <div class="headers"> 
        <img src="images/logo.gif" class="img-logo"/> 
        <p class="logo-font">GISTCAMP.</p>
    </div>


  <% if (devMode === 'development') { %>
      <script src="vendor/jquery/jquery.min.js"></script> 
      <script src="vendor/jquery.scrollTo/jquery.scrollTo.min.js"></script>
      <script src="vendor/jquery-nicescroll/jquery-nicescroll.min.js"></script>

      <script src="js/welcome.js?modified_time=<%= (new Date()).getTime() %>"></script>
      <script src="http://localhost:35729/livereload.js"></script>
    <% }else{ %> 
      <script src="js/welcome.min.js?v=<%= appVersion %>"></script>
    <% } %>
  </body>
</html>


