<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="description" content="gist github">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" content="images/logo_black.png" />
    <title>The Best Open Web Interface for Gist</title>
    <link rel="shortcut icon" href="images/logo_black.png"/> 
    <link rel="image_src" href="images/logo_black.png"/>   
    <% if (process.env.NODE_ENV === 'production') { %>
      <link rel='stylesheet' type="text/css" href='styles/welcome-thirdparty.min.css?v=<%= appVersion %>' />
      <link rel='stylesheet' type="text/css" href='styles/welcome.min.css?v=<%= appVersion %>' />
    <% }else{ %> 
      <link rel="stylesheet" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
      <link rel='stylesheet' href="vendor/font-awesome/css/font-awesome.min.css">
      <link rel='stylesheet' href='styles/welcome.min.css?modified_time=<%= (new Date()).getTime() %>' />      
    <% } %>
    <script src="vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
    <a href="https://github.com/RayKwon/gistcamp"><img style="position: absolute; top: 0px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
    <div class="contents">
      <section class="sec-main">
          <center>
            <img class="img-logo" src="images/logo.png" />
            <p class="main-font">
              GistCamp is a campground for GEEKS
            </p>
            <p class="main-font2">
              Create,  Share and Enjoy Gists!
            </p>
            <a href="/auth/github" class="sign-in">
                Sign in with GitHub
            </a>
            <p class="main-font4">
              <a class="font4" href="#sec-demo">
               or learn more about GistCamp.
              </a>
            </p>
            <p class="main-font5">By signing in, you agree to our <a href="#terms" role="button" data-toggle="modal">Terms of Service.</a></p>
            <div class="main-alert"><h1>Warning</h1>GistCamp is in the testing stages at the moment. <br/>You could run into errors and downtime. <br/>We are going to release official version at the end of Septemper 2013.</div>             
         </center>
      </section>
      <section class="sec-features" id="sec-features">
            <div class="container">
              <div class="row"></div> 
              <div class="row text-left">  
                <div class="span6">
                   <p class="font-title font-features">
                    Features
                    </p>
                </div>  
                <div class="span5">
                   <hr class="hr-features">
                </div> 
              </div> 
              <div class="row common-icon-box-row-blank"></div> 
              <div class="row">
                <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-user icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Friends</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Easy to find your friends' gists</div>
                </div>
               <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-tag icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Tagging</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Create your own tags and organize gists</div>
                </div>
              </div>
              <div class="row common-icon-box-row-blank"></div> 
              <div class="row">
                <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-bell-alt icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Notifications</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>GistCamp notifies you about new comments and chat messages</div>
                </div>
               <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-group icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Chatting</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Discuss gists with other geeks</div>
                </div>
              </div>
              <div class="row common-icon-box-row-blank"></div> 
              <div class="row">
                <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-share-alt icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Share</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Share gists via Facebook, Twitter, Google+ and LinkedIn</div>
                </div>
               <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-archive icon-5x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Archive</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>Archive gists in your favorite tools, such as Evernote and Pocket</div>
                </div>
              </div>
              <div class="row common-icon-box-row-blank"></div> 
              <div class="row">
                <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-keyboard icon-4x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Keyboard Shortcuts</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>We support Gmail keyboard shortcuts</div>
                </div>
               <div class="span1  icon-box-blank">
                  <div class="common-icon-box text-center">
                    <br>
                    <i class="icon-github icon-5x features-icon"></i>
                    <br> 
                    <p class="common-icon-box-font">Open Source</p>
                  </div>
                </div> 
                <div class="span4 common-icon-box-comments">
                   <div>GistCamp is an open source. Let's make it better together. Fork us, please.</div>
                </div>
              </div>
         </div>
      </section>
      <section class="sec-sec3">
        <div class="container">  
          <div class="row"  >
            <div class="span2">
            <img class="img-point" src="images/logo.png" />
            </div>
            <div class="span8 font-point">
              GistCamp
            <div>
          </div>
        </div>
      </section>
      <section id="sec-demo">
         <div class="container"> 
          <div class="row text-left">  
            <div class="span3">
               <p class="font-title font-features">
                Demo
                </p>
            </div>  
            <div class="span8">
               <hr class="hr-demo">
            </div> 
          </div> 
          <div class="row text-center"> 
              <iframe id="demo-player"  width="850" height="600" frameborder="0" src="//www.youtube.com/embed/F2zwmdNdOoI?modestbranding=1&autoplay=0&loop=1" type="text/html"></iframe> 
          </div>
        </div>
      </section>
      <section class="sec-contact" id="sec-contact">
       <div class="container"> 
        <div class="row text-left">  
          <div class="span3">
             <p class="font-title font-connect-title">
              Share
              </p>
          </div>  
          <div class="span8">
             <hr class="hr-contact">
          </div> 
        </div> 
        <div class="row">
          <div class="span3" >
             <span class="icon-stack span-twitter font-icon-connect text-center">
              <i class="icon-circle icon-stack-base  font-twitter-circle "></i>
              <i class="icon-twitter font-connect"></i>
              <br>
              <h2>Twitter</h2>  
             </span>
          </div>
         <div class="span3" >
             <span class="icon-stack  span-facebook font-icon-connect text-center">
              <i class="icon-circle icon-stack-base  font-facebook-circle"></i>
              <i class="icon-facebook font-connect"></i>
              <br>
              <h2 class="font-facebook">Facebook</h2>  
             </span>
          </div>
           <div class="span3" >
             <span class="icon-stack  span-google font-icon-connect text-center">
              <i class="icon-circle icon-stack-base  font-google-circle"></i>
              <i class="icon-google-plus font-connect"></i>
              <br>
              <h2 class="font-google">Google+</h2>  
             </span>
          </div>
       <div class="span3" >
         <span class="icon-stack  span-linkedin font-icon-connect text-center">
          <i class="icon-circle icon-stack-base  font-linkedin-circle"></i>
          <i class="icon-linkedin font-connect"></i>
          <br>
          <h2 class="font-linkedin">LinkedIn</h2>  
         </span>
        </div>
        </div>
      </div>
      </section>
    <section class="sec-bottom">
      <div class="sec-bottom-sub ">
        <span class="site-map "><a href="#">Home</a></span>
        <span class="site-map "><a href="#sec-features">Features</a></span>
        <span class="site-map "><a href="#sec-demo">Demo</a></span>
        <span class="site-map "><a href="#sec-contact">Connect</a></span>
        <span class="site-map "><a href="#">Terms</a></span>
        <span class="site-map "><a href="https://github.com/RayKwon/gistcamp">GitHub Repository</a></span>
      </div>
      <div class="sec-bottom-sub  ">
        <div class="poweredby">
          <a href="https://twitter.com/gistcamp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @gistcamp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="//www.nodejitsu.com" class="jitsu-link"><span class="">Powered by Nodejitsu</span><img src="//www.nodejitsu.com/img/media/nodejitsu-transparent.png" class="jitsu-icon" /></a>
        </div>
      </div>
    </section>
   <section class="sec-copyright">
      <div class="text-center copyright">
      </div>
    </section>
  </div>

  <!-- Modal : Terms of Services -->
  <div id="terms" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Terms of Service</h3>
    </div>
    <div class="modal-body">
<p>PLEASE READ THIS TERMS OF SERVICE AGREEMENT CAREFULLY BEFORE USING THE SERVICE.</p>

<p>GISTCAMP (“We” or “us,” and “our” to be construed accordingly) provides this website http://gistcamp.com, its associated web-based and mobile applications (the “Site”), and all Site-related services and products, including without limitation, information, text, images, graphics, audio, video, data or other materials (the "Content") subject to your compliance with the terms and conditions set forth in this agreement (the “Agreement”). This Agreement governs the relationship between us and you, the Site visitor and/or Service member (“You”) with respect to your use of the Service. </p>

<p>We may change the terms and conditions of this Agreement at any time due to:
(i)    a change of the applicable laws and regulations or in order to preserve the integrity of our systems and the Service; 
(ii)    a change of the Service, including terminating, eliminating, supplementing, modifying, adding to or discontinuing any Content or data on or feature of the Service;
(iii)    a change of fees or charges, if any, related to your use of the Service; or 
(iv)    a change of the equipment, hardware or software required to use and access the Service.</p>

<p>Any changes we make will be effective after a reasonable time span as set forth in the notice of such changes. We will provide the notice by posting on the Site and/or email to the address which you have provided while registering to the Services. Your continued use of the Site or Service after such notice and an appropriate time span as set forth in the notice will be deemed acceptance of such changes. We recommend that you return to the Site periodically to ensure familiarity with the most current version of this Agreement. </p>

<p>The last update to our Terms of Service was posted on 7th Feb 2014.</p>

<ol>
<li><p>Basic Use 
You are responsible for your use of the Services, for any content you post to the Services, and for any consequences thereof. The content you submit, post, or display will be able to be viewed by other users of the Services, based on your selected preferences, and through third party services and websites.  We reserve the right to remove or suspend any content added that is false, misleading or untrue based on our reasonable judgment and any proof that may arise. You further represent, warrant and agree that none of such provided content violates any third party’s intellectual property or other rights or is subject to any obligation, whether of confidentiality, attribution or otherwise. </p></li>
<li><p>Code of Conduct 
While using the Services, you agree to comply with all applicable laws, rules and regulations. We reserve the right, in our reasonable discretion, to take any actions we deem necessary and appropriate to preserve the integrity of the Services. We further reserve the right to determine what conduct is outside the “spirit” of the Services provided therein. While using the Services, you agree not to:
(i)    Engage in rude, unlawful, harassing, vulgar, obscene, hateful, threatening, abusive or otherwise objectionable behavior, including, without limitation, looting, kill stealing, making sexual comments and/or cursing;
(ii)    Use the Services for any unlawful purpose or in any manner not intended by Gistcamp as contemplated herein and/or the Site;
(iii)    Express or imply that any statements you make or actions you take are endorsed by us;
(iv)    Access, tamper with, or use non-public areas of the Services, Gistcamp’s computer systems, or the technical delivery systems of Gistcamp’s providers; 
(v)    Probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; 
(vi)    Access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by Gistcamp (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Gistcamp (NOTE: crawling the Services is permissible if done in accordance with the provisions of the robots.txt file, however, scraping the Services without the prior consent of Gistcamp is expressly prohibited); 
(vii)    Forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; or 
(viii)    Interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Services.</p></li>
<li><p>Intellectual Property
GISTCAMP respects copyright and trademark laws and expects you to do the same.  All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of GISTCAMP and its licensors. Nothing in the Agreement gives you a right to use the GISTCAMP name or any of the GISTCMP trademarks, logos, domain names, and other distinctive brand features. Our Site and Content are protected under international copyright laws. The copying, redistribution, use or publication by you of any portion of our Site is strictly prohibited. Your use of our Site does not grant you ownership rights of any kind in our Site.</p></li>
<li><p>Links
The Services may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the contents, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by GISTCAMP of such websites or resources or the contents, products, or services available from such websites or resources. Use of any such linked web site is at your own risk.</p></li>
<li><p>The Services are Available "AS-IS"
Your access to and use of the Services or any Content is at your own risk. You understand and agree that the Services is provided to you on an "AS IS" and "AS AVAILABLE" basis. WITHOUT LIMITING THE FOREGOING, GISTCAMP EXPLICITLY DISCLAIMS ANY WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. 
We make no warranty and disclaim all responsibility and liability for the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content thereon. GISTCAMP will not be responsible or liable for any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services, or any Content.
We make no warranty (i) that the Services or any Content available on or through the Service will meet your requirements or be available on an uninterrupted, secure, or error-free basis; or (ii) regarding the quality of any Services or Content or the accuracy, timeliness, truthfulness, completeness or reliability of any Content obtained through the Services. No advice or information, whether oral or written, obtained from GISTCAMP or through the Services will create any warranty not expressly made herein. </p></li>
<li><p>Limitation of Liability 
YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, GISTCAMP AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF P ROFITS, DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION , ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; AND (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT GISTCAMP HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p></li>
<li><p>Governing Law, Jurisdiction, and Venue.
This Agreement shall be governed by and construed in accordance with the laws of Republic of Korea. Any dispute regarding this Agreement shall be subject to the exclusive jurisdiction of the courts of Republic of Korea, and the parties hereby irrevocably agree to submit to the personal and exclusive jurisdiction and venue of such courts. </p></li>
<li><p>Waiver and severability
If the application of any provision of this Agreement to any particular facts or circumstances shall be held to be invalid or unenforceable by an arbitration panel or a court of competent jurisdiction, then (a) the validity and enforceability of such provision as applied to any other particular facts or circumstances and the validity of other provisions of this Agreement shall not in any way be affected or impaired thereby, and (b) such provision shall be enforced to the maximum extent possible so as to effect the intent of the parties and reformed without further action by the parties to the extent necessary to make such provision valid and enforceable.</p></li>
<li><p>Entire Agreement
This Agreement constitute the entire agreement between the parties concerning the subject matter hereof, and supersede and replace any prior agreements between Gistcamp and you regarding the Services.</p></li>
<li><p>Contract Us
These Services are operated and provided by Gistcamp.  If you have any questions about this Agreement, please contact us at nicekhj@gmail.com.</p></li>
</ol>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>

  <% if (process.env.NODE_ENV === 'production') { %>
    <script src="js/welcome.min.js?v=<%= appVersion %>"></script>
  <% }else{ %> 
    <script src="vendor/jquery/jquery.min.js"></script> 
    <script src="vendor/bootstrap/js/bootstrap-modal.js"></script>
    <script src="js/welcome.js?modified_time=<%= (new Date()).getTime() %>"></script>
    <script src="http://localhost:35729/livereload.js"></script>    
  <% } %>
  </body>
</html> 